.formCalculation{
     display: flex !important;
     flex-direction: row !important;
     margin: auto !important;
     margin-top: 10vh !important;
     width: 50vw !important;
}
.calculationDiv{
    width: 100%;
}